LEXPRO_AI_SERVICE_INTERNAL_TOKEN=replace-with-at-least-32-random-characters
LEXPRO_AI_SERVICE_MINERU_BASE_URL=http://127.0.0.1:13456
LEXPRO_AI_SERVICE_MINERU_VERSION=mineru-2.7.1/MinerU2.5-2509-1.2B
LEXPRO_AI_SERVICE_LEXPRO_BASE_URL=http://127.0.0.1:8001
LEXPRO_AI_SERVICE_LEXPRO_MODEL_NAME=LexPro_8B
LEXPRO_AI_SERVICE_LEXPRO_MODEL_VERSION=LexPro_8B
LEXPRO_AI_SERVICE_CONNECT_TIMEOUT_SECONDS=5
LEXPRO_AI_SERVICE_MINERU_READ_TIMEOUT_SECONDS=900
LEXPRO_AI_SERVICE_LEXPRO_READ_TIMEOUT_SECONDS=900
LEXPRO_AI_SERVICE_MAX_FILE_BYTES=52428800
LEXPRO_AI_SERVICE_BATCH_SIZE=128
